<body>
  <style type="text/css">
    h1 {
      text-align: right;
      padding-right: 30%;
    }
  </style>
  <style type="text/css">
    h2 {
      text-align: right;
      padding-right: 35%;
    }
  </style>
  <style type="text/css">
    h3 {
      text-align: right;
      padding-right: 35%;
    }
  </style>
  <div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" />
          </mat-form-field>
        </mat-card-content>
        <div align="center">
          <button mat-flat-button color="primary" (click)="btnClick()">
            Log in
          </button>
        </div>
      </form>
    </mat-card>
    <h1><i>" Beauty is in the eye of the beer holder..."</i></h1>
    <h2><i>" He was a wise man who invented beer..."</i></h2>
    <h3><i>" For a quart of Ale is a meal for a King..."</i></h3>
  </div>
  <div align="center">
    <p>Copyright (C) 2020 'To brew or not to brew' Team</p>
  </div>
</body>
