<body>
  <h1 align="center"><i>" Beauty is in the eye of the beer holder..."</i></h1>
  <div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" />
          </mat-form-field>
        </mat-card-content>
        <div align="center">
          <button mat-flat-button color="primary" (click)="btnClick()">
            Log in
          </button>
        </div>
      </form>
    </mat-card>
    <h1 align="right"><i>" He was a wise man who invented beer.."</i></h1>
    <h1 align="right"><i>" For a quart of Ale is a meal for a King..."</i></h1>
  </div>
  <div align="center">
    <p>Copyright (C) 2020 'To brew or not to brew' Team</p>
    <img
      src="assets/images/TeamLogo.png"
      alt="To brew or not to brew"
      style="float: right; width: 150px; height: 150px;"
    />
  </div>
</body>
