<table cellspacing="0">
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Batch Size</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <button mat-flat-button color="primary">
          Calculate
        </button>
      </mat-form-field>
    </td>
  </tr>
</table>

<h3 class="mat-h3">List of Ingredients:</h3>
<p>Placeholder for list of imgredients</p>

<table cellspacing="0">
  <tr>
    <td>
      <mat-form-field>
        <button mat-flat-button color="primary">
          Add Ingredient
        </button>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <button mat-flat-button color="primary">
          BREW
          <mat-icon>double_arrow</mat-icon>
        </button>
      </mat-form-field>
    </td>
  </tr>
</table>
