<table cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="full-width">
        <mat-label>Batch size</mat-label>
        <input matInput />
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="full-width">
        <button mat-flat-button color="primary">
          Calculate
        </button>
      </mat-form-field>
    </td>
  </tr>
</table>

<p>List of Ingredients:</p>

<p>Grain:</p>
<input />
<p>Water:</p>
<input />
<p>Yeast:</p>
<input />
<p></p>
<button>Add Ingredient</button>
<p></p>
<button>BREW</button>

<table cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="full-width">
        <button mat-flat-button color="primary">
          Add Ingredient
        </button>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="full-width">
        <button mat-flat-button color="primary">
          BREW
          <mat-icon>double_arrow</mat-icon>
        </button>
      </mat-form-field>
    </td>
  </tr>
</table>
