:host ::ng-deep .mat-grid-tile {
    overflow: unset !important;
}

:host {
    margin: 0 0.2em;
    display: block;
}

:host ::ng-deep .header .mat-figure {
    align-items: normal !important;
    margin-top: 1em;
}
