<mat-vertical-stepper>
    <mat-step [editable]="false" label="Milling">
        <img src="assets/images/step1.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Mashing">
        <img src="assets/images/step2.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Lautering">
        <img src="assets/images/step3.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Boiling">
        <img src="assets/images/step4.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Cooling">
        <img src="assets/images/step5.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Fermentation">
        <img src="assets/images/step6.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Maturation">
        <img src="assets/images/step7.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Filtration, carbonation, and cellaring">
        <img src="assets/images/step8.gif"/>
    </mat-step>
</mat-vertical-stepper>