<mat-vertical-stepper>
    <mat-step [editable]="true" label="Milling">
        <img src="assets/images/step1.gif"/>

    </mat-step>
    <mat-step [editable]="false" label="Mashing">
        <div fxLayout="row" fxLayoutGap="1em">
            <img fxFlex src="assets/images/step2.gif"/>
            <yaba-timer fxFlex [duration]="recipe.mashDuration"></yaba-timer>
        </div>
    </mat-step>
    <mat-step [editable]="false" label="Lautering">
        <div fxLayout="row" fxLayoutGap="1em">
            <img fxFlex src="assets/images/step3.gif"/>
            <yaba-timer fxFlex [duration]="recipe.lauterDuration"></yaba-timer>
        </div>
    </mat-step>
    <mat-step [editable]="false" label="Boiling">
        <div fxLayout="row" fxLayoutGap="1em">
            <img fxFlex src="assets/images/step4.gif"/>
            <yaba-timer fxFlex [duration]="recipe.boilDuration"></yaba-timer>
        </div>
    </mat-step>
    <mat-step [editable]="false" label="Cooling">
        <img src="assets/images/step5.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Fermentation">
        <img src="assets/images/step6.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Maturation">
        <img src="assets/images/step7.gif"/>
    </mat-step>
    <mat-step [editable]="false" label="Filtration, carbonation, and cellaring">
        <img src="assets/images/step8.gif"/>
    </mat-step>
</mat-vertical-stepper>