<button mat-flat-button (click)="pickGrain()">Pick Grains</button>
Result <pre>{{grains | json}}</pre>
<mat-divider></mat-divider>
<yaba-mash
    [(mashTemp)]="mashTemp"
    [(mashDuration)]="mashDuration"
    [(lauterTemp)]="lauterTemp"
    [(lauterDuration)]="lauterDuration"
></yaba-mash>

Result:
Mash Temp: {{mashTemp}}, Mash duration: {{mashDuration}}, 
lauter Temp: {{lauterTemp}}, lauter duration: {{lauterDuration}}
<mat-divider></mat-divider>
<yaba-boil [(duration)]="boilDuration"></yaba-boil>
Result: boilDuration = {{boilDuration}} min
<mat-divider></mat-divider>
<!-- <yaba-style-selector></yaba-style-selector> -->